img {
  max-height: 20vh;
  display: flex;
}

ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

li {
  border: 1px solid gray;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: calc(1 / 8 * 100%);
}