body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: gainsboro;
  line-height: 1.25;
  padding: 1rem;
  margin: 0;
}

header {
  background: white;
  padding: 1rem;
}

img {
  width: 100%;
  height: auto;
}

.watch-brand {
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  font-weight: bold;
}

.watch-model {
  display: flex;
  margin-top: 0.5rem;
}

.watch-price {
  display: flex;
  font-size: 12px;
  margin-top: 0.5rem;
}

.watch-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.amountPerStore {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  align-self: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 1rem;
  background: white;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.crawledOn {
  font-size: calc(1rem * 0.8);
}

.store {
  margin-top: 3rem;
}

.watches {
  display: flex;
  gap: calc(1 / 16 * 1rem);
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.watch_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: calc(1 / 5 * 100vw);
  justify-content: space-between;
  background: white;
  padding: 1rem;
}

.watch_item div {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.watch_link {
  color: cornflowerblue;
  text-decoration: none;
  display: block;
  margin-top: 0.5rem;
}

.watch_link:hover {
  text-decoration: underline;
}